<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cellID</key>
		<string>kFirstTableViewCellID</string>
		<key>title</key>
		<string>出发地</string>
		<key>haveUnit</key>
		<false/>
		<key>haveTax</key>
		<false/>
		<key>keyboard</key>
		<false/>
		<key>toMap</key>
		<false/>
		<key>toDate</key>
		<false/>
	</dict>
	<dict>
		<key>cellID</key>
		<string>kSecondTableViewCellID</string>
		<key>title</key>
		<string>货物类型</string>
		<key>haveUnit</key>
		<false/>
		<key>haveTax</key>
		<false/>
		<key>keyboard</key>
		<false/>
		<key>toMap</key>
		<false/>
		<key>toDate</key>
		<false/>
	</dict>
	<dict>
		<key>cellID</key>
		<string>kThirdTableViewCellID</string>
		<key>title</key>
		<string>货物重量</string>
		<key>haveUnit</key>
		<true/>
		<key>haveTax</key>
		<false/>
		<key>keyboard</key>
		<true/>
		<key>toMap</key>
		<false/>
		<key>toDate</key>
		<false/>
	</dict>
	<dict>
		<key>cellID</key>
		<string>kThirdTableViewCellID</string>
		<key>title</key>
		<string>运输单价(元/吨)</string>
		<key>haveUnit</key>
		<false/>
		<key>haveTax</key>
		<true/>
		<key>keyboard</key>
		<true/>
		<key>toMap</key>
		<false/>
		<key>toDate</key>
		<false/>
	</dict>
	<dict>
		<key>cellID</key>
		<string>kThirdTableViewCellID</string>
		<key>title</key>
		<string>预付定金(%)</string>
		<key>haveUnit</key>
		<false/>
		<key>haveTax</key>
		<false/>
		<key>keyboard</key>
		<true/>
		<key>toMap</key>
		<false/>
		<key>toDate</key>
		<false/>
	</dict>
	<dict>
		<key>cellID</key>
		<string>kThirdTableViewCellID</string>
		<key>title</key>
		<string>允许亏吨量(吨/车)</string>
		<key>haveUnit</key>
		<false/>
		<key>haveTax</key>
		<false/>
		<key>keyboard</key>
		<true/>
		<key>toMap</key>
		<false/>
		<key>toDate</key>
		<false/>
	</dict>
	<dict>
		<key>cellID</key>
		<string>kThirdTableViewCellID</string>
		<key>title</key>
		<string>亏吨赔偿(元/吨)</string>
		<key>haveUnit</key>
		<false/>
		<key>haveTax</key>
		<false/>
		<key>keyboard</key>
		<true/>
		<key>toMap</key>
		<false/>
		<key>toDate</key>
		<false/>
	</dict>
	<dict>
		<key>cellID</key>
		<string>kSecondTableViewCellID</string>
		<key>title</key>
		<string>装货详细地址</string>
		<key>haveUnit</key>
		<false/>
		<key>haveTax</key>
		<false/>
		<key>keyboard</key>
		<false/>
		<key>toMap</key>
		<true/>
		<key>toDate</key>
		<false/>
	</dict>
	<dict>
		<key>cellID</key>
		<string>kSecondTableViewCellID</string>
		<key>title</key>
		<string>装货日期</string>
		<key>haveUnit</key>
		<false/>
		<key>haveTax</key>
		<false/>
		<key>keyboard</key>
		<false/>
		<key>toMap</key>
		<false/>
		<key>toDate</key>
		<true/>
	</dict>
	<dict>
		<key>cellID</key>
		<string>kThirdTableViewCellID</string>
		<key>title</key>
		<string>装货联系人</string>
		<key>haveUnit</key>
		<false/>
		<key>haveTax</key>
		<false/>
		<key>keyboard</key>
		<false/>
		<key>toMap</key>
		<false/>
		<key>toDate</key>
		<false/>
	</dict>
	<dict>
		<key>cellID</key>
		<string>kThirdTableViewCellID</string>
		<key>title</key>
		<string>装货联系电话</string>
		<key>haveUnit</key>
		<false/>
		<key>haveTax</key>
		<false/>
		<key>keyboard</key>
		<true/>
		<key>toMap</key>
		<false/>
		<key>toDate</key>
		<false/>
	</dict>
	<dict>
		<key>cellID</key>
		<string>kSecondTableViewCellID</string>
		<key>title</key>
		<string>卸货联系地址</string>
		<key>haveUnit</key>
		<false/>
		<key>haveTax</key>
		<false/>
		<key>keyboard</key>
		<false/>
		<key>toMap</key>
		<true/>
		<key>toDate</key>
		<false/>
	</dict>
	<dict>
		<key>cellID</key>
		<string>kThirdTableViewCellID</string>
		<key>title</key>
		<string>卸货联系人</string>
		<key>haveUnit</key>
		<false/>
		<key>haveTax</key>
		<false/>
		<key>keyboard</key>
		<false/>
		<key>toMap</key>
		<false/>
		<key>toDate</key>
		<false/>
	</dict>
	<dict>
		<key>cellID</key>
		<string>kThirdTableViewCellID</string>
		<key>title</key>
		<string>卸货联系电话</string>
		<key>haveUnit</key>
		<false/>
		<key>haveTax</key>
		<false/>
		<key>keyboard</key>
		<true/>
		<key>toMap</key>
		<false/>
		<key>toDate</key>
		<false/>
	</dict>
	<dict>
		<key>cellID</key>
		<string>kSecondTableViewCellID</string>
		<key>title</key>
		<string>中转详细地址</string>
		<key>haveUnit</key>
		<false/>
		<key>haveTax</key>
		<false/>
		<key>keyboard</key>
		<false/>
		<key>toMap</key>
		<true/>
		<key>toDate</key>
		<false/>
	</dict>
	<dict>
		<key>cellID</key>
		<string>kThirdTableViewCellID</string>
		<key>title</key>
		<string> </string>
		<key>haveUnit</key>
		<false/>
		<key>haveTax</key>
		<false/>
		<key>keyboard</key>
		<false/>
		<key>toMap</key>
		<false/>
		<key>toDate</key>
		<false/>
	</dict>
</array>
</plist>
